

#LEFT {
	width: 50%; 
	float: left;
	height:100%;
}

#RIGHT {
	width: 50%; 
	float: left;
	height:100%;
}


#LEFT_TOP {
	width: 100%; 
	float: left;
	height:40%;

}


#LEFT_BOTTOM {
	width: 100%; 
	float: left;
	height:60%;

}





.interact-sector{
	height:100px;

}

.status_content{
	border-style:solid;
	width:375px;
	height:75px;

}

#my_mission_content{
	height:375px;

}

div {
	font-family:"DFKai-SB";
}

.message_div{
	font-size:1px;
}

#my_status {
	background-color: #F0F8FF;
	width: 50%; 
	float: left;
	height:100%;

}

#enemy_status {
	background-color: #FFEBCD;
	width: 50%; 
	float: left;
	height:100%;

}


#mission_sector{
	background-color: #F0FFF0;
	width: 50%; 
	float: left;
	height:100%;

}

#interact_sector {
	background-color: #7FFFD4;
	width: 50%; 
	float: left;
	height:100%;
}








#message {
	background-color: #DCDCDC;
	height:100%;
	float: left;
	width: 100%;
	/*overflow:scroll;*/
} 

.interact-button{
	/*float: left;*/
	height:25px;
	width: 70px;
}

